:root {
   --color-primary: #2E2F42;
   --color-secondary: #434455;
   --color-logo-btn: #4D5AE5;
   --background-color: #ffffff; 
   --footer-text-color: #E7E9FC;
   --light-color: #F4F4FD;
   --color-nav-hover: #404BBF;
   --color-fill: #8E8F99;
   --color-footer-hover: #31D0AA;
   --color-modal: #FCFCFC;

}

body {
   color: var(--color-primary);
   background-color: var(--background-color);
   font-family: Roboto, sans-serif;
   font-size: 16px;
   line-height: 1.5;
}

/* Reset */
 
p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   padding: 0;
}

/* Components */

.container {
   max-width: 428px;
   margin: 0 auto;
   padding: 0 15px;
}

@media screen and (min-width: 768px) {
   .container {
      max-width: 768px;
   } 
}

@media screen and (min-width: 1158px) {
   .container {
      max-width: 1158px;
   }
}

img {
   display: block;
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

.list {
   list-style: none;
   padding: 0;
   margin: 0;
}

.link {
   text-decoration: none;
   color: inherit;
}

.address {
   font-style: normal;
}

.button {
   cursor: pointer;
}

.section {
   padding: 120px 0;
}

.a {
   text-decoration: none;
}

/* Utils */

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* styles-header */

.header {
   border-bottom: 1px solid var(--footer-text-color);
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
   display: flex;
   align-items: center;
}

.site-nav {
   display: flex;
   align-items: center;
}

.nav-list {
   display: none
}

@media screen and (min-width: 768px) {
   .nav-list {
      display: flex;
      gap: 40px;
   }
}

.nav-link {
   color: var(--color-primary);
   letter-spacing: 0.02em;
   font-weight: 500;
   line-height: 1.5;
   padding-top: 24px;
   padding-bottom: 24px;
   display: block;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
   color: var(--color-nav-hover);
}

.nav-link:active {
   color: var(--color-nav-hover);
}

.nav-list .active-link {
   position: relative;
   color: var(--color-nav-hover);
}

.nav-list .active-link::after {
   content: '';
   position: absolute;
   bottom: -1px;
   left: 0;
   width: 100%;
   height: 4px;
   background-color: var(--color-nav-hover);
   border-radius: 2px;;
}

 .logo {
   font-family: "Raleway";
   font-weight: 800;
   font-size: 18px;
   line-height: 1.33;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-logo-btn);
   text-decoration: none;
   margin-right: 76px;
   padding-top: 25px;
   padding-bottom: 23px;
 }

 @media screen and (min-width: 768px) {
   .logo {
      padding-top: 0;
      padding-bottom: 0;
   }
 }

 .accent {
    color: var(--color-primary);
 }

 .address {
   margin-left: auto;
   display: none;
 }

 @media screen and (min-width: 768px) {
   .address {
      display: block;
   }
 }
 
 .address-list {
   display: flex;
   flex-direction: column;
   gap: 12px;
 }

 @media screen and (min-width: 1200px) {
   .address-list {
      flex-direction: row;
      gap: 40px;
   }
 }

 .address-link {
   color: var(--color-secondary);
   text-decoration: none;
   font-style: normal;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.02em;

   display: flex;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
 }

 @media screen and (min-width: 1200px) {
   .address-link {
      font-size: 16px;
      line-height: 1.5;
      padding-top: 24px;
      padding-bottom: 24px
   }
 }

 .address-link:hover,
 .address-link:focus{
    color: var(--color-nav-hover);
 }
  .address-link:active {
    color: var(--color-nav-hover);
 }
 
/* mobile menu */

.menu-toggle {
   height: 22px;
   width: 32px;
   display: flex;
   align-items: center;
   justify-content: center;
   
   margin: 0;
   margin-left: auto;
   padding: 0;
   background-color: transparent;
   cursor: pointer;
   border: none;
   outline: none;
}

@media screen and (min-width: 768px) {
   .menu-toggle {
      display: none;
   }
}

.mobile-icon {
   display: inline-block;
   stroke: var(--color-primary);
      
}

.menu-container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 40px;
   background-color: var(--background-color);
   transform: translateX(200%);
   transition: transform 250ms ease-in-out;
}

@media (min-width: 768px) {
   .menu-container {
      display: none;
   }
}

.menu-container.is-open {
   transform: translateX(0);
}

.menu-container .menu-close {
   position: absolute;
   top: 16px;
   right: 16px;
   color: #fff;
}

.menu-close {
   height: 24px;
   width: 24px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 0;
   background-color: var(--footer-text-color);
   border: 1px solid var(--color-primary);
   border: none;
   border-radius: 50%;
   outline: none;
}


.menu-list {
   display: flex;
   gap: 40px;
   flex-direction: column;
   margin-top: 40px;
}


.menu-item {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   color: var(--color-primary);
}

.menu-item:hover,
.menu-item:focus {
   color: var(--color-nav-hover);
}

.menu-address-wrap {
   margin-bottom: 48px;
   font-style: normal;
}

.menu-address {
   display: flex;
   padding: 0;
   font-weight: 700;
   color: var(--color-secondary);

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 427px) {
   .menu-address {
      font-size: 24px;
   }
}

.menu-address.mail {
   margin-top: 40px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
}

.menu-social {
   display: flex;
   gap: 56px; 
}

@media screen and (max-width: 427px) {
   .menu-social {
      gap: 25px;
   }
}

.menu-link-soc {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   
   background-color: var(--color-logo-btn);
   color: var(--light-color);
   border-radius: 50%; 
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-soc:hover,
.menu-link-soc:focus {
   background-color: var(--color-nav-hover); 
}

.active {
   color: var(--color-logo-btn);
}

.menu-soc-icon {
   width: 24px;
   height: 24px;
   fill: var(--light-color);
}


 /*Hero*/

 .hero-section {
   max-width: 1440px;
   min-height: 432px;
   padding-top: 112px;
   padding-bottom: 112px;
   margin: 0 auto;

   text-align: center;
   background-color: var(--color-primary);
   background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   url('../images/office-people-mb.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

 @media (min-device-pixel-ratio: 2), 
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
   .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/office-people-mb@2.jpg');
   }
 }

 @media (min-width: 768px) {
   .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/office-people-tablet.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      max-width: 1440px;
      max-height: 436px;
      padding-top: 112px;
      padding-bottom: 112px;
   }
 }

 @media (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2),
(min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi),
(min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
   .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/office-people-tablet@2.jpg');
   }
}

@media (min-width: 1200px) {
   .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/office-people.jpg');
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         max-width: 1440px;
         max-height: 600px;
         padding-top: 188px;
         padding-bottom: 188px;
   }
}
 
@media (min-width: 1200px) and (min-device-pixel-ratio: 2),
(min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1200px) and (min-resolution: 192dpi),
(min-width: 1200px) and (min-resolution: 2dppx) {
   .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/office-people@2.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
}

.hero-tittle{  
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;

   max-width: 320px;
   margin: 0 auto 72px;
   color: var(--background-color);
}

@media screen and (min-width: 768px) {
   .hero-tittle {
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;

      max-width: 496px;
      margin: 0 auto 36px;
      
   }
}

@media screen and (min-width: 1200px) {
   .hero-tittle {
      margin: 0 auto 48px;
   }
}
 
.hero-button {
   color: var(--background-color);
   background-color: var(--color-logo-btn);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   border: 1px solider var(--color-logo-btn);
   border-radius: 4px;

   padding: 16px 32px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-nav-hover);
}

/*Our advantages*/

.advantages {
   padding: 96px 0;
}

@media screen and (min-width: 1200px) {
   .advantages {
   padding-top: 120px;
   padding-bottom: 0;
   }
}

.advantages-list {
   display: flex;
   flex-direction: column;
   gap: 72px;
}

@media screen and (min-width: 768px) {
   .advantages-list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 24px;
      row-gap: 72px;
   }
}

@media screen and (min-width: 1200px) {
   .advantages-list {
   row-gap: 0;
}
}

/* .advantages-item {
   flex-basis: calc((100% - 72px) / 4);
} */

@media screen and (min-width: 768px) {
   .advantages-item {
      flex-basis: calc((100% - 24px) / 2);
   }
}

@media screen and (min-width: 1200px) {
   .advantages-item {
      flex-basis: calc((100% - 72px) / 4);
   }
}

 .card-advantages {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;

   margin-bottom: 8px;

   color: var(--color-primary);
 }

 @media screen and (min-width: 768px) {
   .card-advantages {
      text-align: left;
   }
 }

 @media screen and (min-width: 1200px) {
   .card-advantages {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   }
 }

 .sub-tittle{ 
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-secondary);
   margin-bottom: 0;
 }

.icon-container {
   display: none;
}

@media screen and (min-width: 1200px) {
   .icon-container {
   display: flex;
   background-color: var(--light-color);
   width: 264px;
   height: 112px;
   justify-content: center;
   align-items: center;
   margin-bottom: 8px;
   border-radius: 4px;
   }
}

.icon-advantages {
   width: 64px;
   height: 64px;
}

/*We are doing*/

.doing {
   display: none;
}

@media screen and (min-width: 1200px) {
   .doing {
      display: block;
      padding: 120px 0;
   }
}

.doing-tittle {
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   text-align: center;

   margin-bottom: 72px;
}

.doing-list {
   display: flex;
   gap: 24px;
   flex-wrap: wrap;
}

.doing-item {
   border: 1px solid var(--footer-text-color);
   flex-basis: calc((100% - 48px) / 3);
}

/*Team*/

.section-team {
   background-color: var(--light-color);
   padding: 96px 0;
}

@media screen and (min-width: 1200px) {
   .section-team {
      padding: 120px 0;
   }
}

.team-tittle {
   font-size: 36px;
   line-height: 1.11;   
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;

   margin-bottom: 72px;
}

.team-list {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 72px;
   
}

@media screen and (min-width: 768px) {
   .team-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
      row-gap: 64px;

   }
}

.team-item {
   background-color: var(--background-color);
   /* flex-basis: calc((100% - 72px) / 4); */
   text-align: center;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   border-radius: 0px 0px 4px 4px;
}

.team-img {
   display: block;
   max-width: 100%;
   height: auto;
}

.card-tittle {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--color-primary);
   margin-bottom: 8px;
}

.team-job {
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-secondary);

   margin-top: 0;
   margin-bottom: 0;
}

.team-card {
   padding-top: 32px;
   padding-bottom: 32px;
}

/* socials */

.socials-list {
   display: flex;
   justify-content: center;
   gap: 24px;
   margin-top: 8px;
}

.socials-item {
   width: 40px;
   height: 40px;
}

.socials-link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   fill: var(--light-color);
   background-color: var(--color-logo-btn);
   border-radius: 50%;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
   background-color: var(--color-nav-hover);
}

.socials-icon {
   width: 16px;
   height: 16px;
}



/* Customers */

.section-customers {
   padding: 96px 0;
}

@media screen and (min-width: 1200px) {
   .section-customers {
      padding: 120px 0;
   }
}

.tittle-customers {
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   text-align: center;
   
   margin-bottom: 72px;
}

.customers-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 16px;
   row-gap: 72px;
}

@media screen and (min-width: 768px) {
   .customers-list {
      gap: 24px;
      row-gap: 72px;
   }
}

.customers-item {
   flex-basis: 190px;
   height: 88px;
}

@media screen and (max-width: 427px) {
   .customers-item {
      flex-basis: 136px;
   }
}

@media screen and (min-width: 768px) {
   .customers-item {
      flex-basis: 168px;
   }
}

.customers-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   fill: var(--color-fill);
   width: 100%;
   height: 100%;
   border: 1px solid var(--color-fill);
   border-radius: 4px;

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon:hover,
.customers-icon:focus {
   border-color: var(--color-nav-hover);
   fill: var(--color-nav-hover);
}

.customers-logo {
   width: 104px;
   height: 56px;
}


/*footer*/

.footer {
   padding-top: 96px;
   padding-bottom: 96px;

   background-color: var(--color-primary);
}

@media screen and (min-width: 1200px) {
   .footer {
      padding-top: 100px;
      padding-bottom: 100px;
   }
}

.footer-container {
   display: flex;
   flex-direction: column;
}

@media screen and (min-width: 768px) {
   .footer-container {
      align-items: center;
   }
}

@media screen and (min-width: 1200px) {
   .footer-container {
      align-items: start;
      flex-direction: row;
   }
}

.footer-about {
   display: flex;
   flex-direction: column;
   margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
   .footer-about {
      flex-direction: row;
   }
}

@media screen and (min-width: 1200px) {
   .footer-about {
      gap: 120px;
      margin-bottom: 0;
   }
}

.container-logo {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
   .container-logo {
      align-items: start;
      margin-bottom: 0;
   }
}

@media screen and (min-width: 1200px) {
   .container-logo {
      align-items: normal;
      margin-bottom: 0;
   }
}

.logo-footer {
   font-family: "Raleway";
   font-weight: 800;
   font-size: 18px;
   line-height: 1.33;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-logo-btn);
   text-decoration: none;
}

.logo-web {
   color: var(--light-color);
}

.footer-text {
   display: block;
   color: var(--footer-text-color);
   line-height: 1.5;
   letter-spacing: 0.02em;

   margin-top: 16px;
   max-width: 264px;
   margin-bottom: 0;
}

/* footer socials media */

.footer-media {
   display: flex;
   flex-direction: column;
}

@media screen and (min-width: 1200px) {
   .footer-media {
      margin-bottom: 0;
   }
}

.footer-tittle {
   margin-bottom: 16px;
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--background-color);
}

@media screen and (min-width: 1200px) {
   .footer-tittle {
      text-align: left;
   }
}

.footer-list {
   display: flex;
   justify-content: center;
   gap: 16px;
   margin-top: 16px;

}

.footer-item {
   width: 40px;
   height: 40px;
}

.footer-link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   fill: var(--light-color);
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 50%;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
   background-color: var(--color-footer-hover);
}

.footer-icon {
   width: 24px;
   height: 24px;
}

/* footer form */

.subscribe {
   margin-left: 0;
   margin-right: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 16px;
}

@media screen and (min-width: 768px) {
   .subscribe {
      width: 470px;
      align-items: start;
   }
}

@media screen and (min-width: 1200px) {
   .subscribe {
      width: auto;
      margin-left: auto;
   }
}


.subscribe-tittle {
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--background-color);
}

.subscribe-form {
   position: relative;
   display: flex;
   flex-direction: column;
   width: auto;
   gap: 16px;
}

@media screen and (min-width: 768px) {
   .subscribe-form {
      flex-direction: row;
      gap: 24px;
   }
}

.subscribe-mail {
   width: 300px;
   padding: 8px 16px;
   font-size: 12px;
   line-height: 2;
   
   background-color: transparent;
   color: var(--footer-text-color);
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
}

@media screen and (min-width: 768px) {
   .subscribe-mail {
      width: 264px;
   }
}

.submit-btn {
   display: flex;
   align-content: center;
   padding: 8px 24px;
   width: 165px;
   margin: 0 auto;

   color: var(--background-color);
   background-color: var(--color-logo-btn);
   font-weight: 500;
   letter-spacing: 0.04em;
   line-height: 1.5;

   border-radius: 4px;
   border: none; 
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
   background-color: var(--color-nav-hover);
}

.subscribe-icon {
   width: 24px;
   height: 24px;
   margin-left: 16px;
   fill: var(--background-color);
}

/*Portfolio*/

.portfolio {
   padding-top: 48px;
   padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
   .portfolio {
      padding-top: 64px;
      padding-bottom: 96px;
   }
}

@media screen and (min-width: 1200px) {
   .portfolio {
      padding-top: 96px;
      padding-bottom: 120px; 
   }
}

.portfolio-container {
   padding-left: 16px;
   padding-right: 16px;
}

@media screen and (min-width: 1200px) {
   .portfolio-container {
      padding-left: 0;
      padding-right: 0;
   }
}

.filter-list {
   display: flex;
   width: 300px;
   flex-wrap: wrap;
   gap: 24px;
   row-gap: 16px;
   justify-content: left;
   margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
   .filter-list {
      width: 100%;
      justify-content: center;
      margin-bottom: 64px;
   }
}

@media screen and (min-width: 1200px) {
   .filter-list {
      margin-bottom: 72px;
   }
}


.filter-button {
   font-weight: 500;
   line-height: 1.5;
   color: var(--color-logo-btn);
   background-color: var(--light-color);
   border: 1px solid var(--footer-text-color);
   border-radius: 4px;
   font-family: inherit;

   padding: 8px 16px;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
   .filter-button {
      padding: 12px 24px;
   }
}

.filter-button:hover,
.filter-button:focus {
   color: var(--background-color);
   background-color: var(--color-nav-hover);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-color: var(--color-nav-hover);
}

/* Works */

.work-list {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 48px;
}

@media screen and (min-width: 768px) {
   .work-list {
      gap: 24px;
      row-gap: 72px;
      flex-direction: row;
   }
}

@media screen and (min-width: 1200px) {
   .work-list {
      gap: 24px;
      row-gap: 48px;
   }
}

.work-item {
   flex-basis: 396px;
   border: 1px solid var(--footer-text-color);
}

@media screen and (min-width: 768px) {
   .work-item {
      flex-basis: calc((100% - 24px) / 2);
   }
}

@media screen and (min-width: 1200px) {
   .work-item {
      flex-basis: calc((100% - 48px) / 3);
   }
}

.work-link {
   display: block;
   text-decoration: none;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover,
.work-link:focus {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work-image {
   position: relative;
   overflow: hidden;
}

.works-text {
   padding: 32px 0 32px 16px;
}

.work-img {
   display: block;
   width: 100%;
}

.text-description {
   position: absolute;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--light-color);
   top: 40px;
   left: 32px;
   right: 32px;
}


.work-description {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--color-logo-btn);
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.work-image:hover .work-description {
   transform: translateY(0);
}

/* modal */

.backdrop {
   position: fixed;
   top: 0;
   left: 0;

   display: flex;
   align-items: center;
   justify-content: center;
   
   padding: 20px 0;
   width: 100%;
   height: 100%;

   background-color: rgba(46, 47, 66, 0.4);
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.modal {
   position: relative;
   width: 100%;
   max-width: 408px;
   min-height: 576px;
   background-color: var(--color-modal);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
   transform: scale(0);
}

.modal .close-button {
   position: absolute;
   top: 24px;
   right: 24px;

   height: 24px;
   width: 24px;
   background-color: var(--footer-text-color);
   color: #000;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   margin: 0;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-button:hover,
.modal .close-button:focus {
   background-color: var(--color-nav-hover);
   color: var(--background-color);
}

.close-button .close-icon {
   position: absolute;
   display: block;
   width: 8px;
   height: 8px;
   
   fill: currentColor;
   margin: 0;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.modal-tittle {
   text-align: center;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-primary);
   margin-bottom: 16px;
}

.modal-item {
   position: relative;
   margin-bottom: 8px;
}

.modal-label {
   display: flex;
   flex-direction: column;
   gap: 4px;
   font-size: 12px;
   letter-spacing: 0.04em;
   line-height: 1.17;
   color: var(--color-fill);
}

.modal-input {
   padding-top: 11px;
   padding-bottom: 11px;
   padding-right: 15px;
   padding-left: 38px;

   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
   border: 1px solid var(--color-logo-btn);
   outline: none;
}


.modal-icon {
   position: absolute;
   top: 50%;
   left: 15px;
   fill: var(--color-primary);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-input:focus + .modal-icon {
   fill: var(--color-logo-btn);
}

.comment-lable {
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
   color: var(--color-fill);

   margin-bottom: 16px;
}

.form-comment {
   resize: none;
   padding: 8px 16px;
   width: 100%;
   height: 120px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment::placeholder {
   color: rgba(117, 117, 117, 0.5);
}

.form-comment:focus {
   border: 1px solid var(--color-logo-btn);
   outline: none;
}

.modal-checkbox {
   font-size: 12px;
   line-height: 1.17; 
   letter-spacing: 0.04em;
   color: #757575;
}

.accept-checkbox {
   position: absolute;
   appearance: none;
}

.accept-text {
   padding-left: 8px;
}

.checkbox-icon {
   width: 10px;
   height: 8px;
   fill: var(--background-color);
}

.check-box {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 16px;
   height: 16px;
   overflow: hidden;
   border: 1.25px solid var(--color-primary);
   border-radius: 2px;
   background-color: var(--background-color);
   background-repeat: no-repeat;
   background-origin: content-box;
   background-position: 50% 50%;
}

.accept-checkbox:checked + .check-box {
   background-color: var(--color-nav-hover);
   border: 1.25px solid var(--color-nav-hover);
}

.accept-checkbox:checked +.check-box + .checkbox-icon {
   fill: var(--color-nav-hover);
} 

.policy-link {
   color: var(--color-logo-btn);
}

.form-button {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 24px auto 0 auto;
   padding: 16px 32px;
   width: 170px;
   font-weight: 500;
   color: var(--background-color);
   background-color: var(--color-logo-btn);
   border-radius: 4px;
   border-color: transparent;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
   background-color: var(--color-nav-hover);
}